* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Georgia';
  color: #222
}

nav {
  font-size: 1.2rem;
  background-color: #fff;
  color: #111;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0 2.5rem;
}

nav .site-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0.4rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav .active {
  color: #bbb;
}

nav a:hover {
  color: #bbb
}

nav .login-btn {
  font-family: inherit;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  position:absolute;
  right: 2rem;
}

.login-form {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 600px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
}

.form-text {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2.25rem;
  text-align: left;
  line-height: 1.25;
}

.form-btn {
  font-family: inherit;
  padding: .3rem 2rem;
  background-color: white;
  margin-bottom: .75rem;
}

.form-btn:hover, .formBtn:focus {
  background: #ddd;
  color: #111;
  cursor: pointer;
}

input {
  font-size: 1rem;
  color: inherit;
  width: 100%;
  padding: .4rem 5px;
  margin: .4rem 0;
}

.select {
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  width: 100%;
  padding: .25rem 5px;
  margin: .4rem 0;
}

.errors {
  color: red;
}

div {
  text-align: center;
}

.card-grid {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card-grid a {
  text-decoration: none;
}

.card {
  max-width: 400px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222
}

.card-img {
  overflow: hidden;
}

.card-img > img {
  display: block;
  width: 100%;
  aspect-ratio: 8.5 / 11;
  object-fit: contain;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-img > img {
  transform: scale(1.025);
}

.card-name {
  font-family: inherit;
  padding: .5rem;
}

.distillery-list {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  line-height: 2.5;
}

.distillery-list a {
  color: #222;
  text-decoration: none;
  line-height: 1.75;
}

.distillery-list a:hover {
  color: #bbb
}

.counter {
  margin-top: 3rem;
  margin-left: 3rem;
  text-align: center;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
 }

 .bottle-container {
  max-width: 750px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

 .bottle-img {
  float: right;
 }

 .bottle-img > img {
  width: auto;
  max-height: 400px;
 }

 .bottle-details {
  margin-top: 2.5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
 }

 .bottle-btn {
  font-family: inherit;
  padding: .3rem 2rem;
  background-color: white;
  margin-top: 1.75rem;
  margin-bottom: .75rem;
  margin-right: .75rem;
  margin-left: .75rem;
}

.bottle-btn:hover, .formBtn:focus {
  background: #ddd;
  color: #111;
  cursor: pointer;
}

.comment {
  margin-top: 3rem;
  font-style: italic;
}

/* .background {
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  isolation: isolate;
}

.background::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  isolation: isolate;
  background: lavender;
  opacity: .85;
} */